@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --section-color:#f3e2ce;
    --font-family: "Poppins", sans-serif;
    --basic-font-weight:300 !important;
    --basic-font-size:calc(1.2rem + 5px);
    --basic-font-paragraph: calc(1rem + 1px) !important;
    --basic-pg-font-weight:200 !important;
    --basic-btn-font-size:calc(.7rem + 2px);
    --btn-font-weight:700;
    --global-btn-color:hsl(0, 35%, 23%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--font-family);
    font-weight: var(--basic-font-weight);
    background-color: var(--section-color);
    text-transform: capitalize;
}

.cookie-container{
    background: linear-gradient(260deg, #9b6c50 0%, #4f2626 100%);
    overflow: hidden;
}
.custom{
    
    border-color:  #9b6c50 !important;
}
.basic{
    font-size: var(--basic-font-size);
}
.pg{
    font-size: var(--basic-font-paragraph);
}
.pg-fw{
    font-weight: var(--basic-font-paragraph);
}


.btn:active,
.btn:focus {
    box-shadow: none; /* Remove any box-shadow */
    border-color: transparent;
    outline: none;
}

.custom-btn{
    font-weight: var(--btn-font-weight);
    font-size: var(--basic-btn-font-size);
    color: var(--global-btn-color);
}
.cookie{
    overflow:visible;
}